export interface $schemaName {
#foreach($property in $properties)
    #if($property.description)
    /**
     * $property.description
     */
    #end
    $property.field#if(!$property.required)?#end: ${property.type};
#if($foreach.hasNext)
## New-Line between Items

#end
#end
#if($additionalProperties)

    /**
     * Additional Properties
     */
    [key: string]: ${additionalProperties};
#end
}
#foreach($enum in $enums)

/**
 * Values for {@link $enum.schemaName#$enum.propertyName}
 */
#parse('schemas/enumSchema.vm')
#end
