#if($schemaType == 'compound')
    #parse('schemas/compoundSchema.vm')
#elseif($schemaType == 'enum')
    #parse('schemas/enumSchema.vm')
#elseif($schemaType == 'object')
    #parse('schemas/objectSchema.vm')
#elseif($schemaType == 'alias')
    #parse('schemas/aliasSchema.vm')
#end
